@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&display=swap');

:root {
  --bg: #EFEFEF;

  --rule-spacing: 150px;
  --rule-width: 2px;
  --rule: #F56465;

  --line-spacing: 40px;
  --line-width: 1px;
  --line: #0000FF;

  --header-height: 150px;

  --text: #18181A;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  background-image: linear-gradient(
    90deg, 
    transparent var(--rule-spacing), 
    var(--rule) var(--rule-spacing), 
    var(--rule) calc(var(--rule-spacing) + var(--rule-width)), 
    transparent calc(var(--rule-spacing) + var(--rule-width))
  );
  font-family: "Tinos", serif;
}

#header {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: var(--rule-spacing);
  font-size: 80px;
}

#body {
  display: flex;
  flex-grow: 1;
  background-image: linear-gradient(
    var(--line) var(--line-width),
    transparent var(--line-width),
    transparent var(--line-spacing)
  );
  background-size: 100% var(--line-spacing);
}

#toc {
  min-width: var(--rule-spacing);
}

#toc ul {
  padding: 0;
  list-style-type: none;
}

#toc li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: var(--line-spacing);
}

#toc li a {
  text-decoration: none;
  color: var(--text);
  font-size: calc(var(--line-spacing) / 2 - 4px);
  font-weight: bold;
}

#content {
  display: grid;
  padding-left: 10px;
  padding-right: 30px;
  gap: var(--line-spacing);
}

.section {
  line-height: var(--line-spacing);
}

.section ul {
  padding-left: var(--line-spacing);
  list-style-type: none;
}

.section ul li {
  position: relative;
  font-size: calc(var(--line-spacing) / 2 - 4px);
}

.section ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: calc(var(--line-spacing) * -0.3);
  transform: translateY(-50%);
  width: calc(var(--line-spacing) / 8);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: black;
}

.section h3 {
  font-size: calc(var(--line-spacing) - 4px);
}

.section h4 {
  font-size: calc(var(--line-spacing) / 1.75);
  text-decoration: underline;
}

.section h5 {
  font-size: calc(var(--line-spacing) / 1.75);
}

.section p {
  font-family: "Caveat", cursive;
  font-size: calc(var(--line-spacing) / 1.75);
}

#photos-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#photos-container img {
  max-width: 100%;
  height: round(nearest, 100%, var(--line-spacing));
  vertical-align: middle;
}

#photos-container figcaption {
  font-size: calc(var(--line-spacing) / 1.75);
  text-align: center;
}